extends ../layout

block menu
	nav.menu.col-right
		ul
			li
				a(href="/candidato") CANDIDATURAS
			li
				a(href="/candidato/meu-perfil") MEU PERFIL
			li
				a(href="/candidato/minha-conta") MINHA CONTA
			li.a-btn
				a(href="/logout") TERMINAR SESSÃO

block content
	.pages.wrap
		h1 Minha conta
		p Use o formulário abaixo para editar as suas informações.
		.jb-space
			
		block notificacao
			if notificacao
				div.notificacao #{notificacao}
				.jb-space

		form(action="/candidato/minha-conta" method="post")
			.form-inp
				.col-left
					label Primeiro nome
					input(type="text" name="primeiroNome" required minlength="3" maxlength="45" value=Candidato.primeiro_nome)
				.col-left
					label Último nome
					input(type="text" name="ultimoNome" minlength="3" maxlength="45" required value=Candidato.ultimo_nome)
			.form-inp
				.col-left
					label Data de nascimento
					input(type="date" name="dataDeNascimento" required value=Candidato.data_de_nascimento)

				.col-left
					label Gênero
					select(name="genero" required)
						option(value=Candidato.genero) #{Candidato.genero} (Actual)
						option(value="Masculino") Masculino
						option(value="Feminino") Feminino

			.form-inp
				.col-left
					label Nacionalidade
					select(name="nacionalidade" required)
						option(value=Candidato.nacionalidade) #{Candidato.nacionalidade} (Actual)
						include ../include/nacionalidade

				.col-left
					label Naturalidade
					input(type="text" name="naturalidade" minlength="3" maxlength="45" required value=Candidato.naturalidade)

			.form-inp
				.col-left
					label Província onde reside
					select(name="provinciaOndeReside" required)
						option(value=Candidato.provincia_onde_reside) #{Candidato.provincia_onde_reside} (Actual)
						include ../include/onde-reside

				.col-left
					label Morada
					input(type="text" name="morada" minlength="3" maxlength="45" required value=Candidato.morada)

			.form-inp
				.col-left(title="Está disposto a se realocar?")
					label Disposição de realocação
					select(name="disposicaoDeRealocacao" required)
						if Candidato.disposicao_de_realocacao
							option(value=Candidato.disposicao_de_realocacao) #{Candidato.disposicao_de_realocacao} (Actual)
						option(value="Sim") Sim
						option(value="Não") Não
				.col-left
					label Fotografia
					input(type="file" name="foto_de_perfil")

			.jb-space.single
			h2 Formação academica
			.jb-space.single
			
			if Institutos
				.vagas-listing
					table
						thead
							tr
								td Nome da instituicao
								td Curso 
								td Data de início
								td Data de termino
								td Opções

						tbody
							each Instituto, i in Institutos
								tr
									td #{Instituto.nome_da_instituicao}
									td #{Instituto.titulo_obtido}
									td #{Instituto.ano_de_inicio}
									td #{Instituto.ano_de_termino}
									td
										a(href="/candidato/minha-conta/editar-formacao/" + Instituto.idFormacaoAcademica) Editar
										span &nbsp; | &nbsp;
										a(href="/candidato/minha-conta/remover-formacoes-academicas/" + Instituto.idFormacaoAcademica) Remover
			else
				p Adicione as suas informações academicas.

			.jb-space.single
			.form-inp
				button.btn
					a(href="/candidato/minha-conta/formacoes-academicas") Adicionar

			.jb-space.single
			h2 Informações profissionais
			.jb-space.single

			.form-inp
				.col-left
					label Anos de experiência
					input(type="number" min="0" max="50" required name="anosDeExperiencia" value=Candidato.anos_de_experiencia)

				.col-left
					label Área de preferência
					select(name="areaDePreferencia")
						if Candidato.area_de_preferencia
							option(value=Candidato.area_de_preferencia) #{Candidato.area_de_preferencia} (Actual)
						include ../include/area-de-preferencia


			.jb-space.single
			h2 Experiência profissional
			.jb-space.single

			if Experiencias
				.vagas-listing
					table
						thead
							tr
								td Nome da empresa
								td Função
								td Data de início
								td Data de termino
								td Opções

						tbody
							each Experiencia, i in Experiencias
								tr
									td #{Experiencia.nome_da_empresa}
									td #{Experiencia.funcao}
									td #{Experiencia.ano_de_inicio}
									td #{Experiencia.ano_de_termino}
									td
										a(href="/candidato/minha-conta/editar-experiencia/" + Experiencia.idExperienciaProfissional) Editar
										span &nbsp; | &nbsp;
										a(href="/candidato/minha-conta/remover-experiencia/" + Experiencia.idExperienciaProfissional) Remover

			.jb-space.single
			.form-inp
				button.btn
					a(href="/candidato/minha-conta/experiencia-profissional") Adicionar

			.jb-space.single
			h2 Curriculum vitae
			.jb-space.single

			.form-inp
				if Candidato.curriculum_vitae
					button.btn
						a(target="_blank" href="/uploads/" + Candidato.curriculum_vitae) Abrir CV

					button.btn
						a(href="/candidato/minha-conta/carregar-cv" title="Faça o upload do seu Curriculum vitae") Actualizar CV
				else
					button.btn
						a(href="/candidato/minha-conta/carregar-cv" title="Faça o upload do seu Curriculum vitae") Carregar

			.jb-space.single
			h2 Informações de contacto
			.jb-space.single

			.form-inp
				.col-left
					label Email
					input(type="email" name="email" min="8" max="45" required value=Candidato.email)
				.col-left
					label Telefone
					input(type="number" name="telefone" min="9" max="13" required value=Candidato.telefone)

			.form-inp
				.col-left
					label Telefone alternativo
					input(type="number" name="telefoneAlternativo" minlength="9" maxlength="13" required value=Candidato.telefone_alternativo)

			.jb-space.single

			.form-inp
				.col-left
					button.btn Guardar
					button.btn
						a(href="/candidato/minha-conta/alterar-password") Alterar a password

block scripts
	script(src="/js/candidato-minha-conta.js")