extends ../layout

block menu
	nav.menu.col-right
		ul
			li
				a(href="/empregador") MINHAS VAGAS
			li
				a(href="/empregador/publicar-vaga") PUBLICAR VAGA
			li
				a(href="/empregador/pesquisar-candidatos") PESQUISAR CANDIDATOS
			li
				a(href="/empregador/minha-conta") MINHA CONTA
			li.a-btn
				a(href="/logout") TERMINAR SESSÃO

block content
	.pages.wrap
		if Vagas
			h1 As suas vagas
			.jb-space
			.vagas-listing
				table
					thead
						tr
							td #
							td Cargo
							td Data de publicação
							//td Dias restantes
							//td Estado
							td Opções

					tbody
						each vaga, i in Vagas
							tr
								td #{i+1}
								td 
									a(href!="/empregador/editar-vaga/" + vaga.ID) #{vaga.cargo}
								td #{vaga.dataDePublicacao}
								//td #{vaga.diasRestantes}
								//td #{vaga.estado}
								td 
									a(href!="/empregador/editar-vaga/" + vaga.ID) Editar
									span &nbsp; | &nbsp;
									a(href!="/empregador/remover-vaga/" + vaga.ID) Remover
		else
			h1 Nenhuma vaga publicada.
			.jb-space.single
			a(href="/empregador/publicar-vaga")
				button.btn Publicar nova vaga


	

