extends ./empregador-home

block title
	title Pesquisar candidato - Jobz

block content
	.pages.wrap
		if Candidatos
			h1 Pesquisa de Candidatos
			p Use os filtros para encontrar os candidatos para a sua empresa.
			.jb-space

			form(action="/empregador/pesquisar-candidatos" method="POST")
				.form-inp
					.col-left
						label Nacionalidade
						select(name="nacionalidade")
							option(value="")
							include ../include/nacionalidade
					.col-left
						label Província onde reside
						include ../include/provincias
				.form-inp
					.col-left
						label Área de preferência
						select(name="areaDePreferencia")
							include ../include/area-de-preferencia
					.col-left
						label .
						button Pesquisar

			.jb-space
			h1 Resultados da pesquisa
			.vagas-listing
				table
					thead
						tr
							td #
							td Nome
							td Nacionalidade
							td Província onde reside
							td Email
							td Telefone

					tbody
						each candidato, i in Candidatos
							tr
								td #{i+1}
								td 
									a(href!="/empregador/candidato/" + candidato.idCandidato) #{candidato.primeiro_nome} #{candidato.ultimo_nome}
								td #{candidato.nacionalidade}
								td #{candidato.provincia_onde_reside}
								td #{candidato.email}
								td #{candidato.telefone}

		else
			h1 Nenhum candidato encontrado.
