extends ./layout

block content
	.pages.wrap
		.jb-space.single
		if !semVagas
			article.vagas.vaga-full
				.logo-empresa.col-left
					img(src="/img/default.jpg")
				.descricao-vaga.col-right
					.meta-dados
						h1 
							a(href!="/vaga/"+Vaga.idVaga) #{Vaga.cargo}
						.jb-space.single
						p.empresa <i class="fa fa-users" aria-hidden="true"></i> #{Vaga.nome}
						.jb-space.single
						p.data-location <i class="fa fa-map-marker" aria-hidden="true"></i> #{Vaga.provincia} &nbsp; | &nbsp; <i class="fa fa-calendar" aria-hidden="true"></i> #{Vaga.data_de_publicacao}
						.jb-space.single
						hr
						.jb-space.single

						p Descrição: #{Vaga.descricao}
						p Habilidade necessárias: #{Vaga.habilidades_necessarias}
						.jb-space.single

						p Tipo de contrato: #{Vaga.tipo_de_contrato}

						p Anos de experiência: #{Vaga.anos_de_experiencia}

						p Área de actuação: #{Vaga.area_de_actuacao}


						p Salário: #{Vaga.salario}

						p Quantidade de vagas disponíveis: #{Vaga.quantidade_de_vagas}
						
						.jb-space.single
						a(href="/vaga/candidatura/" + Vaga.idVaga)
							button.btn Enviar candidatura

		else
			h1 Nenhum vaga foi encontrada